body{
    background-color: #121212;
}

#containerTotal{
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 3%;
    margin-bottom: 1.5%;
}

#center{
    margin-top: 0.5%;
    margin-left: 10%;
}

.container{
    width: 700px;
    display: flex;
    flex-direction: column;
    border-radius:3px; 
    background-color: #fffafa;
    text-align: center;
    margin-left: 2%;
}

h1 {
    font-family:'open_sansregular';
    font-size: 2.0em;
    color: #04AA6D;
    margin-bottom: 10px;
    padding-bottom: 25px;
    margin: auto;
}
select{
    width: 250px;
    font-size: 20px;
    display: flex;
    text-align: center;
}
header {
    box-shadow: 1px 1px 1px 1px #e3e3e3; 
    text-align: center;
    font-size: 35px;
    color: white;
}
  
section {
    box-shadow: 1px 1px 1px 1px #e3e3e3; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.valores{
    font-weight: bold;
    margin-top: 8px;
}

nav {
    width: 250px;
    height: 300px;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    box-shadow: 1px 1px 1px 1px #e3e3e3; 
    width: 450px;
}
.btn, #comprar{
    border-radius: 8px;
    margin-left: 2%;
    color: #009b89;
    font-weight: bold;
    font-family: inherit;
    font-size: 20px;
    font-family:Verdana;
    cursor: pointer;
    font-weight:bold;
    padding:20px 40px;
}
#comprar:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* tabela para mostrar valores */
#tabela{
    width: 700px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    background:#ffffff; 
    box-shadow: 1px 1px 1px 1px #e3e3e3; 
    border-radius:3px; 
    padding:3em;
    background-color: #fffafa;
    border-radius: 3%;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    align-items: center;
    margin-left: 30%;
    margin-bottom: 20px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    color: #04AA6D;
  }
 
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
#Resultado{
    font-size: 20px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px #ddd solid;
    background: #fdfdfd;
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

  
 @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }